<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'stories:index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'stories:author-list' %}">All Authors <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stories:publication-list' %}">All Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stories:city-list' %}">All Cities</a>
      </li>
    </ul>
    <span class="navbar-text">
        {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.get_username }} <span
            class="sr-only">(current)</span></a>
      </li>
        {% else %}
          <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}}">Login</a>
      </li>
        {% endif %}
    </span>
  </ul>
  </div>
</nav>
