{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ author.username }}
    <a href="{% url 'stories:author-delete' pk=author.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'stories:author-update' pk=author.id %}" class="btn btn-secondary link-to-page">
      Update author
    </a>
  </h1>

  <p><strong>First name:</strong> {{ author.first_name }}</p>
  <p><strong>Last name:</strong> {{ author.last_name }}</p>
  <p><strong>Pseudonym:</strong> {{ author.pseudonym }}</p>
  <p><strong>Is staff:</strong> {{ author.is_staff }}</p>

  <div class="ml-3">
    <h4>Publication</h4>

    {% for publication in author.publications.all %}
        <hr>
        <p><strong>Title:</strong> {{ publication.title }}</p>
        <p><strong>Story:</strong> {{ publication.story }}</p>
        <p><strong>City:</strong> {{ publication.city.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{publication.id}}</p>

    {% empty %}
      <p>No Authors!</p>
    {% endfor %}
  </div>
{% endblock %}
