{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ author.username }}
    <a href="{% url 'stories:author-delete' pk=author.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'stories:author-update' pk=author.id %}" class="btn btn-secondary link-to-page">
      Update author
    </a>
  </h1>

  <p><strong>First name:</strong> {{ author.first_name }}</p>
  <p><strong>Last name:</strong> {{ author.last_name }}</p>
  <p><strong>Pseudonym:</strong> {{ author.pseudonym }}</p>
  <p><strong>Is staff:</strong> {{ author.is_staff }}</p>

  <div class="ml-3">
    <h4>Publication</h4>

    {% for publication in author.publications.all %}
      <li>
        {{ publication.title }}
        <br>
      </li>
      <br>


    {% empty %}
      <p>No publications!</p>
    {% endfor %}
  </div>
{% endblock %}
