{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    City List
    <a href="{% url 'stories:city-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline table">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if city_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for city in  city_list %}
        <tr>
          <td>
            {{ city.id }}
          </td>
          <td>
            {{ city.name }}
          </td>
          <td>
            <a href="{% url 'stories:city-update' pk=city.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url 'stories:city-delete' pk=city.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no cities in the stories.</p>
  {% endif %}
{% endblock %}