{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 style="margin-top: 5px">
    All Publication
    <a style="float: right" href="{% url 'stories:publication-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline table">
    {{ search_form|crispy }}
    <input style="margin-left: 5px" class="btn btn-secondary" type="submit" value="Search">
  </form>

  {% if publication_list %}
    <ul>
      {% for publication in publication_list %}
        <div class="card">
          <h5 class="card-header">From {{ publication.city.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ publication.title }}</h5>
            <p class="card-text">{{ publication.story|truncatechars:250 }}</p>
            <a href="{% url "stories:publication-detail" pk=publication.id %}" class="btn btn-primary">View Detail</a>
          </div>
        </div>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no publications</p>
  {% endif %}
{% endblock %}
